@media (width>=480px){
    footer {
        padding: 3.125rem 8% 2.875rem;

        .top-footer {
            .more {
                justify-content: space-between;
            }
        }
    }
}

@media (width>=480px) {
    footer {
        padding: 3.125 15% 2.875rem;

        .top-footer {
            .social {
                a {
                    img {
                        width: 2.0625rem;
                    }

                    span {
                        font-size: 2.25rem;
                    }
                }

                p {
                    font-size: 1rem;
                    margin: 2.1875rem 0 2.5rem;
                    max-width: 352px;
                }
            }
        }
    }
}

@media (width>=700px) {
    footer {
        padding: 3.125rem 10% 2.875rem;

        .more {
            flex-direction: column;

            .information, .category {
                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }
}

@media (width >= 1000px) {
    footer {
        padding: 3.125rem 50px 2.875rem;

        .top-footer {
            flex-direction: row;
            gap: 2rem;
            justify-content: space-between;

            .social{
                max-width: 320px;
            }

            .more {
                flex-direction: row;

                .information, 
                .category {

                    h2 {
                        margin-bottom: 1.75rem;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            .address {
                 h2 {
                   margin-bottom: 1.75rem;
                 }

                max-width: 14.5625rem;
            }
        }
    }
}

@media (width >=1200px) {
    footer {
        .top-footer {
            .more {
                gap: 6.25rem;
            }
        }
    }
}

@media (width >= 1440px) {
    footer {
        .top-footer {
            .more {
                gap: 6.25rem;
            }
        }
    }
}